# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.exp
*.ilk
*.log
*.tlog
*.idb
*.iobj
*.ipdb
*.recipe



**/.vs/*
**/inter/*
Profile/profile_sys/bin/*
Profile/tools/__pycache__/*
.vscode/settings.json
call_flow.pdf
call_flow
